:root{

}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/* Font */
p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    font-style: normal; 
}

h2 {
    font-size: 36px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

a {
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

li {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    font-style: normal; 
}
/* Fin Font */

.shadow {
    box-shadow: 0px 3px 3px rgb(56, 56, 56);
    }
    

/*  Body  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to bottom, #447294, #94a5b3);
} 

/* Fin Body  */

/* Header  */

header {
    height: 80px;
    display: flex;
    align-items: center;
    background: #000;
}

header a img:hover {
    transform: scale(1.1);
}

header nav {
    text-align: center;
    flex: 1;
}

header nav ul li {
    list-style: none;
    display: inline;
    margin: 0 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover {
    background-color: #447294;
    padding: 0.5em;
    border-radius: 3px;
}

header nav ul li a:visited {
    background-color: #447294;
}


header ul {
    margin-right: 25px;
}

header ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
    
}

header ul li a img {
    width: 20px;
    margin-left: 5px;
}

header ul li a img:hover {
    transform: scale(1.1);
}
/* Fin Header  */

/* Service  */
.services {
    margin-top: 40px;
    background-color: #43507C;
    display: flex;
    align-items: center;
}

.service {
    flex: 1;
    padding-bottom: 120px;
}

.service h2 {
    text-align: center;
    padding-bottom: 75px;
}

.service ul {
    text-align: left;   
}

.service li{
    display: inline-block;
    width: 40%;
    padding-left: 125px;
    padding-bottom: 30px;

}

.service li img{
vertical-align: middle;
}

.carrousel {
    flex: 1;
    display: flex;
    justify-content: center;
}

.carrousel img {
}
/* Fin Service  */

/* Section Clients */
.clients div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease; 
}

.clients div img {
    width: 100px;
    height: auto;
    margin: auto;
    padding: 1.5em; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.clients div img:hover {
    transform: scale(1.1);
}
/* Fin Section Clients */

/* Wh0 are we  */
.chisiamo  {
    background-color: #43507C;
    display: flex;
    align-items: center;
    padding: 20px 0 30px 0 ;
}

.chisiamoDiv1 {
    flex: 1;
    padding-left: 20px;
}

.chisiamoDiv1 img{
    width: 95%;
}

.chisiamoDiv2 {
    flex: 1 ;
}

.chisiamoDiv2 h2{
    text-align: center;
    

}
.chisiamoDiv2 p {
    padding-top: 50px;
    text-align: center;
    max-width: 90%;
}

/*  Fin wh0 are we  */

/* Section contact */
.contact {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease;
    background-color: #43507C;
}

.logo a img{
    width: 100%;
}

.contact .contatto ul {
    flex: 1;
}

.contact .contatto h2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact .contatto ul li {
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 15px;
    margin-left: 10px;
}

.contact .contatto ul li a {
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    color: #000;   
}

.contact .contatto ul li a img{
    padding-right: 10px;
}

.contatto a img {
    max-width: 100%;   

}

.contact a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    font-style: normal;
}
/* Fin  Section contact */

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding-top: 10px;
}

footer a img {
    filter: blur(70%);
    margin: 0px 40px;
}

footer p {
    margin: 30px 0px 0px 0px;
    padding: 5px;
}
/* Fin  Footer */
